extends layout

block content
  h1= title
  p Welcome to #{title}
  h2
    a(href='/new') New message
  ul
    each val in messages
      li
        p= val.text
        p= val.user
        span= val.added
